<style type="text/css" media="screen, print">
	@font-face {
		font-family: "SonicHUD";
		src: url("https://raw.githubusercontent.com/Juani12ok/Juani12ok/refs/heads/main/docs/fonts/sonic-name-hud-v4.ttf");
	}
	body { background: url("https://raw.githubusercontent.com/Eukaryot/sonic3air/refs/heads/main/Oxygen/sonic3air/data/images/backdrop/classic1.png") }
	
	.cons {
		font-family: "SonicHUD";
		color: #FFFFFF;
	}